<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load custom_tags %}
    {% include "head.html" %}
    <title>400</title>

</head>

<body>

<!-- Navigation -->

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">400
        <small>请求错误</small>
    </h1>

    <ol class="breadcrumb" style="background-color: {% background_color %}">
        <li class="breadcrumb-item active">错误400</li>
    </ol>

    <div class="jumbotron">
        <h1 class="display-5">请求错误！</h1>
        <br>
    </div>
    <!-- /.jumbotron -->

</div>
<!-- /.container -->

<!-- Footer -->

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
