<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load custom_tags %}
    {% include "head.html" %}
    <title>注册</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">注册
        <small>means敏搜</small>
    </h1>

    <ol class="breadcrumb" style="background-color: {% background_color %}">
        {% include "route.html" %}
        <li class="breadcrumb-item active">注册</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>用户注册</h3>
            <form name="loginForm" id="loginForm" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>用户名:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名"
                               required data-validation-required-message="Please enter your username.">
                        <p class="help-block" id="username_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>密码:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"
                               required data-validation-required-message="Please enter your password.">
                        <p class="help-block" id="password_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>邮箱（仅用于重设密码，不会有任何广告推送，也不会向任何人泄露，请放心填写！）:</label>
                        <input type="email" class="form-control" id="email_address" name="email_address" placeholder="请输入邮箱"
                               required data-validation-required-message="Please enter your email.">
                        <p class="help-block" id="email_address_validate"></p>
                    </div>
                </div>
                <div>{{ msg }}</div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="submit">注册</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            <p>
                <abbr title="已有账号?">已有账号</abbr>?
                <br>
                点击<a href="/login">此处</a>登录
            </p>
            {% include "login_register_tips.html" %}
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$(document).ready(function(){
    $('#username').blur(function(){
        var username = $('#username').val();
        $.get('/check_username_validate/',{'username':username}, function(ret){
            $('#username_validate').html(ret);
        });
    });

    $('#password').blur(function(){
        var password = $('#password').val();
        $.get('/check_password_validate/',{'password':password}, function(ret){
            $('#password_validate').html(ret);
        });
    });

    $('#email_address').blur(function(){
        var email_address = $('#email_address').val();
        $.get('/check_email_validate/',{'email_address':email_address}, function(ret){
            $('#email_address_validate').html(ret);
        });
    });

    $(function(){
        $("#submit").click(function(event){
            var username = $('#username').val();
            var password = $('#password').val();
            var email_address = $('#email_address').val();
            var username_validate = $('#username_validate').text();
            var password_validate = $('#password_validate').text();
            var email_address_validate = $('#email_address_validate').text();
            if(username == "" || password == "" || email_address == ""){
                event.preventDefault();
                alert("输入不能为空！")
            } else if(username_validate != "" || password_validate != "" || email_address_validate != ""){
                event.preventDefault();
                alert("输入有误，请检查！")
            };
        });
    });
});
</script>
</body>

</html>
