{% load static %}
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-7 mb-7 m-auto">
            <div class="card h-100">
                <h4 class="card-header" align="center">声明</h4>
                <div class="card-body">
                    <p class="card-text">
                        <p>您只有了解并同意以下声明，才可继续访问：</p>
                        <p>1. means敏搜链接通过程序自动收集自网络公开分享链接，以非人工方式自动生成并呈现，
                            means敏搜不储存、复制、传播任何文件，亦不提供下载服务，链接直接跳转至内容所属网站，
                            内容的有效性和安全性请您自行判断。</p>
                        <p>2. means敏搜遵守相关法律法规，坚决杜绝一切违规不良信息，如您发现任何涉嫌违规的内容，请立即向内容所属的网站举报，
                            并及时<a href="/feedback">反馈</a>给我们进行屏蔽删除。同时您必须了解并同意本站<a href="/agreement_show">《用户协议》</a>，严禁搜索非法关键词。</p>
                        <p>3. means敏搜高度重视知识产权保护和个人隐私保护，如有内容侵犯您的合法权益，请立即内容所属的网站举报，
                            并参见本站<a href="/copyright_show">《版权说明》</a>提供书面材料联系我们屏蔽删改。</p>
                        <p>4. means敏搜所有服务仅供学习交流使用，无任何收费请求，切勿上当支付。</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->