<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>means敏库</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Header -->

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">means敏库</h1>

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="list-group" id="list-tab" role="tablist">
<!--            <a class="list-group-item list-group-item-action" id="list-{ your id }-list" data-toggle="list" href="#list-{ your id }" role="tab" aria-controls="{ your id }">{ name }</a>-->
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">means工具</a>
                {% for key, value in content.items %}
                    <a class="list-group-item list-group-item-action" id="list-{{ key }}-list" data-toggle="list" href="#list-{{ key }}" role="tab" aria-controls="{{ key }}">{{ key }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 mb-4">
            <div class="tab-content" id="nav-tabContent">
<!--            <div class="tab-pane fade show" id="list-{ your id }" role="tabpanel" aria-labelledby="list-{ your id }-list">{ content }</div>-->
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <p><a href="/search">敏搜搜索</a>&nbsp; 搜网盘、搜电影、电视剧</p>
                </div>
                {% for key, value in content.items %}
                    <div class="tab-pane fade show" id="list-{{ key }}" role="tabpanel" aria-labelledby="list-{{ key }}-list">
                        {% for v in value %}
                            <a href="/collection/collection_details/{{ v.id }}" target="_blank">{{ v.name }} </a>{{ v.content }}
                            <div align="right">
                                {% for i in v.star_fill %}
                                    <img src="{% static 'icon/star-fill.svg' %}" alt="Bootstrap" width="16" height="16">
                                {% endfor %}
                                {% for i in v.star_empty %}
                                    <img src="{% static 'icon/star.svg' %}" alt="Bootstrap" width="16" height="16">
                                {% endfor %}
                                {{ v.score_count }}条评分
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
