{% load static %}
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-7 mb-7 m-auto">
            <div class="card h-100">
                <h4 class="card-header" align="center">版权说明</h4>
                <div class="card-body">
                    <p class="card-text">
                        <p>1、means敏搜申明：</p>
                        <p>means敏搜是一个内容搜索引擎网站，全站链接通过程序自动收集自网络公开链接，以非人工方式自动生成页面。means敏搜本身不储存、复制、传播、控制编辑任何网盘资源文件，不提供下载服务，仅做索引并提供搜索功能。本站所有功能服务仅供学习交流，如果你喜欢，请购买正版。</p></p>
                        <p>2、相关法律：避风港原则</p>
                        <p>《条例》第14条规定：“对提供信息存储空间或者提供搜索、链接服务的网络服务提供者，权利人认为其服务所涉及的作品、表演、录音录像制品，侵犯自己的信息网络传播权或者被删除、改变了自己的权利管理电子信息的，可以向该网络服务提供者提交书面通知，要求网络服务提供者删除该作品、表演、录音录像制品，或者断开与该作品、表演、录音录像制品的链接。</p> 
                        <p>通知书应当包含下列内容：</p>
                        <p>（一）权利人的姓名（名称）、联系方式和地址；</p>
                        <p>（二）要求删除或者断开链接的侵权作品、表演、录音录像制品的名称和网络地址；</p>
                        <p>（三）构成侵权的初步证明材料。　权利人应当对通知书的真实性负责。</p> 
                        <p>3、著作权保护声明</p> 
                        <p>具体措施和步骤如下：</p>
                        <p>权利请求</p>
                        <p>任何个人或单位如果同时符合以下两个条件：</p>
                        <p>1、是某一作品的著作权人和/或依法可以行使信息网络传播权的权利人；</p>
                        <p>2、means敏搜通过程序收集自网络公开分享链接侵犯了上述作品信息的权利。</p>
                        <p>上述个人或单位可以以电子邮件的通讯方式向means敏搜提交权利通知。</p>
                        <p>根据相关法律规定，权利通知必须包含如下资料：</p>
                        <p>1、请提供具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、营业执照复印件（对单位）、通信地址、电话号码、传真和电子邮件。</p>
                        <p>2、请完整、准确地指明涉嫌侵权作品的名称和登载该作品的网页的地址。</p>
                        <p>3、请提供构成侵权的初步证明材料，谨此提示如以下材料可能会构成初步证明：</p>
                        <p>a. 对涉嫌侵权作品拥有著作权和／或依法可以行使信息网络传播权的权属证明；</p>
                        <p>b. 对涉嫌侵权作品侵权事实的举证。</p>
                        <p>4、请您在该权利通知落款处亲笔签名，如果您是依法成立的机构或组织，请您加盖公章。</p> 
                        <p>请注意：如果权利通知的陈述失实，权利通知提交者将承担由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。</p> 
                        <p>4、投诉邮箱</p> 
                        <p>means_service@hotmail.com</p>
                        <p>5、means敏搜义务</p>
                        <p>means敏搜作为搜索引擎，将严格拥护著作权拥有者的权利，如果百度网盘方未能及时受理你的投诉建议，烦请您根据第三条提供有效书面证明给我们，我们经过确认后认为侵权，将立即屏蔽删除该索引内容或断开该文件链接，以免对您造成损失。</p>
                        <p>6、建议说明</p> 
                        <p>由于网站内容为机器自动收集，means敏搜毫无侵权的主观意愿。我们一直在致力于避免侵权行为，除了积极配合权利方的要求，另外还定期自我巡查，主动删除屏蔽认为有涉及版权的链接。但由于数据量大，系统屏蔽机制结合人工审查都难免存在疏漏。这里建议维权者也能本着实事求是的态度，确保内容确实是属于您的，避免因为同名、空内容等对means敏搜错误指责，特此建议。</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->